@model intranetMVC.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="login-div">
        <div class="header-title">Acceso al Sistema</div>
        @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.user, "Usuario")
                @Html.EditorFor(model => model.user, new { @class = "form-control", placeholder = "Ingrese su usuario" })
                @Html.ValidationMessageFor(model => model.user)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, "Contraseña")
                @Html.EditorFor(model => model.password, new { @class = "form-control", type = "password", placeholder = "Ingrese su contraseña" })
                @Html.ValidationMessageFor(model => model.password)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Aceptar" />
            </div>
            <div class="form-group">
                <input type="reset" class="btn btn-danger" value="Limpiar" />
            </div>
        }
    </div>
</body>
</html>

@Styles.Render("~/Content/css/Login")
@Scripts.Render("~/bundles/jquery")